PORT=3003
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/reviews_db
CORS_ORIGIN=*

# MS1 — validación de JWT
MS1_JWKS_URL=http://localhost:3001/.well-known/jwks.json
MS1_ISSUER=http://localhost:3001
